a{
    text-decoration: none;
    color: #09c; 
}
.header-main{
    display: flex;
    flex-direction: column;
}
.logo-link{
    box-shadow: none;
    text-decoration: none;
    color: inherit;
}
.logo-img{
    margin:2rem;
    min-width: 30;
    height: 50px;
}
.header-nav{
    margin-top: auto;
    margin-bottom: auto;
    border:1px solid #ebebec;
}
.nav-ul{
    list-style: none;
    height: 25px;
    padding-top: 18px;
}
.nav-li{
    float: left;
    margin-right: 20px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1rem;
    line-height: 1.5em;
    padding-top: .55rem;
    padding-bottom: .65rem;
}
.li-h1{
    color: #09c;
    font-size: 20px;
    font-weight: 600;
    margin: 0 1rem;
}
.li-link{
    box-shadow: none;
    text-decoration: none;
    color: inherit;
}